name: "Linter - Sprawdzanie kodu"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
      - name: Pobranie kodu
        uses: actions/checkout@v4

      - name: Instalacja narzędzi
        run: npm install -g htmlhint stylelint stylelint-config-standard

      - name: Sprawdzanie HTML
        run: htmlhint "**/*.html"

      - name: Sprawdzanie CSS
        # Dodajemy flagę --allow-empty-input, żeby nie wywalało błędu gdy nie znajdzie plików
        run: npx stylelint "**/*.css" --allow-empty-input
